<?xml version="1.0"?>

<robot name="seafox_rov">

  <!-- ================= WORLD FRAME ================= -->
  <link name="world"/>

  <joint name="world_to_base_link" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>


  <!-- ================= BASE LINK ================= -->
  <link name="base_link">

    <!-- ===== VISUAL ===== -->
    <visual>
      <!-- Si el modelo está de lado prueba: rpy="0 0 0" -->
      <origin xyz="0.45 -0.275 -0.25" rpy="1.5708 0 3.14"/>

      <geometry>
        <mesh filename="package://seafox_sim_2026/models/rov.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>


    </visual>


    <!-- ===== COLLISION (simplificada) ===== -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.6 0.4 0.3"/>
      </geometry>
    </collision>


    <!-- ===== INERTIAL (aproximado) ===== -->
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="20.0"/>

      <inertia ixx="1.0"
               ixy="0.0"
               ixz="0.0"
               iyy="1.0"
               iyz="0.0"
               izz="1.0"/>
    </inertial>

  </link>

</robot>